@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Karla&display=swap");

/* Design Tokens */

:root {
  /* Pallette */
  --primary: 0, 174, 216;
  --primary-light: 97, 223, 255;
  --primary-dark: 0, 126, 166;
  --secondary: 75, 230, 207;
  --secondary-light: 135, 255, 255;
  --secondary-dark: 0, 179, 158;
  --tertiary: 147, 25, 182;
  --tertiary-light: 200, 83, 233;
  --tertiary-dark: 97, 0, 133;
  --dark: 15, 14, 43;
  --light: 232, 253, 254;
  --grey: 240, 240, 240;
  --dark-grey: 195, 195, 201;
  /* Font */
  --fnt-heading: "Poppins", sans-serif;
  --fnt-body: "Karla", sans-serif;

  /* Scale */

  /* Major third modular scale for text and spacing.
  Formulas from: https://every-layout.dev/rudiments/modular-scale/
  */

  /* Growth ratio */
  --ratio: 1.25;

  /* Scales */
  --s900: 3.052rem;
  --s800: 2.441rem;
  --s700: 1.953rem;
  --s600: 1.563rem;
  --s500: 1.25rem;

  /* Base */
  --s400: 1rem;
  --s300: 0.8rem;
  --smin: 0.262rem;
}

/* Global */
body {
  font-family: var(--fnt-body);
  font-weight: 600;
  line-height: 1.75rem;
  color: rgb(var(--dark));
  background-color: rgb(var(--grey));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fnt-body);
  font-weight: 600;
  line-height: 1.2em;
}

h1 {
  font-size: var(--s900);
  letter-spacing: -0.09375rem;
}

h2 {
  font-size: var(--s800);
  letter-spacing: -0.03125rem;
}

h3 {
  font-size: var(--s700);
  letter-spacing: 0;
}

h4 {
  font-size: var(--s600);
  letter-spacing: 0.015625em;
}

h5 {
  font-size: var(--s500);
  letter-spacing: 0;
}

small {
  font-size: var(--s300);
  letter-spacing: 0.025rem;
}

a {
  color: var(--secondary);
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}

:focus {
  outline: 0.25em solid;
  outline-offset: 0.25em;
  outline-color: rgb(var(--dark));
}

input[type="image"] {
  border: 0;
}

/* Composition */

/* Spacing */
.pad-min {
  padding: var(--smin);
}

/* Horizontal paddings */
.pad-min-left {
  padding-left: var(--smin);
}

.pad-300-h {
  padding-left: var(--s300);
  padding-right: var(--s300);
}

.pad-300-left {
  padding-left: var(--s300);
}

.pad-base-h {
  padding-left: var(--s400);
  padding-right: var(--s400);
}

.pad-base-left {
  padding-left: var(--s400);
}

.pad-300-right {
  padding-right: var(--s300);
}

.pad-600-h {
  padding-left: var(--s600);
  padding-right: var(--s600);
}

.pad-800-h {
  padding-left: var(--s600);
  padding-right: var(--s600);
}

/* Vertical paddings */
.pad-300-v {
  padding-top: var(--s300);
  padding-bottom: var(--s300);
}

.pad-base-v {
  padding-top: var(--s400);
  padding-bottom: var(--s400);
}

.pad-600-v {
  padding-top: var(--s600);
  padding-bottom: var(--s600);
}

.pad-800-v {
  padding-top: var(--s600);
  padding-bottom: var(--s600);
}

/* Horizontal margins */
.gap-300-h {
  margin-left: var(--s300);
  margin-right: var(--s300);
}

.gap-base-h {
  margin-left: var(--s400);
  margin-right: var(--s400);
}

.gap-600-h {
  margin-left: var(--s600);
  margin-right: var(--s600);
}

.gap-800-h {
  margin-left: var(--s600);
  margin-right: var(--s600);
}

/* Vertical margins */
.gap-300-v {
  margin-top: var(--s300);
  margin-bottom: var(--s300);
}

.gap-base-v {
  margin-top: var(--s400);
  margin-bottom: var(--s400);
}

.gap-600-v {
  margin-top: var(--s600);
  margin-bottom: var(--s600);
}

.gap-600-top {
  margin-top: var(--s600);
}

.gap-800-v {
  margin-top: var(--s800);
  margin-bottom: var(--s800);
}

.gap-800-top {
  margin-top: var(--s800);
}

.gap-300-left {
  margin-left: var(--s300);
}

.text-300 {
  font-size: var(--s300);
}

.text-base {
  font-size: var(--s400);
}

.text-500 {
  font-size: var(--s500);
}

.text-600 {
  font-size: var(--s600);
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

/* Flow */

/* 'owl selector' with a margin-top value to avoid
redundant margins in first or last element of a set. */
.rows > * + * {
  /* If no --flow-space is defined use 1em as value */
  margin-top: var(--flow-space, 1.5em);
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-container-row {
  display: flex;
  flex-flow: row wrap;
}

.flex-item-center {
  justify-self: center;
  align-self: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.width-full {
  width: 100%;
}

.width-eight {
  width: 80%;
}

.width-forty {
  width: 40%;
}

.width-sixty {
  width: 60%;
}

.width-third {
  width: 75%;
}

.width-half {
  width: 50%;
}

.width-quarter {
  width: 25%;
}

.width-fifth {
  width: 20%;
}

/* Utilities */

.inner-wrapper-loose {
  margin-left: auto;
  margin-right: auto;
  max-width: 60rem;
}

.inner-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 54rem;
}

.inner-wrapper-compact {
  margin-left: auto;
  margin-right: auto;
  max-width: 32rem;
}

.img-wrapper {
  display: block;
  width: 100%;
  position: relative;
  height: 0;
  padding: 0 0 100% 0;
  /* overflow: hidden; */
  /*border-radius: var(--s300);*/
}

.img-wrapper img,
.img-wrapper input[type="image"] {
  position: absolute;
  display: block;
  max-width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.radius {
  border-radius: var(--s300);
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  border-radius: var(--s300);
  /*
  background-color: rgba(var(--secondary), 0.305);
  */
}

.radio {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-gap: var(--smin);
}

.radio-input {
  display: flex;
  align-items: center;
}

.radio-input input {
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-control {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 0.125em solid rgb(var(--tertiary));
}

.radio-input input:checked + .radio-control {
  background: radial-gradient(rgb(var(--tertiary)) 50%, rgba(255, 0, 0, 0) 51%);
}

.radio-input input:focus + .radio-control {
  box-shadow: 0 0 0 0.125em #fff, 0 0 0 0.25em rgb(var(--dark));
}

/* Color */

.primary {
  background-color: rgb(var(--primary));
  color: rgb(var(--light));
}

.secondary {
  background-color: rgb(var(--secondary));
  color: rgb(var(--dark));
}

.tertiary {
  background-color: rgb(var(--tertiary));
  color: rgb(var(--light));
}

.primary-txt {
  color: rgb(var(--primary));
}

.secondary-txt {
  color: rgb(var(--secondary));
}

.tertiary-txt {
  color: rgb(var(--tertiary));
}

.secondary-txt-shadow {
  text-shadow: 1px 1px rgb(var(--secondary-dark));
}

.tertiary-txt-shadow {
  text-shadow: 1px 1px rgb(var(--tertiary-dark));
}

.light-txt {
  color: rgb(var(--light));
}

.shadow {
  box-shadow:
    0 2.8px 2.2px rgba(var(--dark), 0.034),
    0 6.7px 5.3px rgba(var(--dark), 0.048),
    0 12.5px 10px rgba(var(--dark), 0.06),
    0 22.3px 17.9px rgba(var(--dark), 0.072),
    0 41.8px 33.4px rgba(var(--dark), 0.086),
    0 100px 80px rgba(var(--dark), 0.12);
}

.shadow-tertiary {
  box-shadow:
    0 2.8px 2.2px rgba(var(--tertiary-dark), 0.034),
    0 6.7px 5.3px rgba(var(--tertiary-dark), 0.048),
    0 12.5px 10px rgba(var(--tertiary-dark), 0.06),
    0 22.3px 17.9px rgba(var(--tertiary-dark), 0.072),
    0 41.8px 33.4px rgba(var(--tertiary-dark), 0.086),
    0 100px 80px rgba(var(--tertiary-dark), 0.12);
}

.easing-gradient-tint {
  background-image:
    linear-gradient(
      307deg,
      hsl(163.74, 51.2%, 59.02%) 0%,
      hsl(164, 50.37%, 58.85%) 8.4%,
      hsl(164.78, 48.07%, 58.38%) 15.8%,
      hsl(166.14, 44.55%, 57.62%) 22.3%,
      hsl(168.25, 40.09%, 56.61%) 28.1%,
      hsl(171.42, 34.95%, 55.36%) 33.5%,
      hsl(176.2, 29.37%, 53.9%) 38.5%,
      hsl(183.5, 25.39%, 52.93%) 43.4%,
      hsl(192.89, 23.76%, 52.82%) 48.4%,
      hsl(204.31, 22.15%, 52.69%) 53.6%,
      hsl(217.8, 20.63%, 52.56%) 59.2%,
      hsl(233.08, 19.26%, 52.44%) 65.4%,
      hsl(248.01, 20.32%, 51%) 72.4%,
      hsl(257.4, 23.65%, 48.89%) 80.4%,
      hsl(262.51, 26.8%, 47.41%) 89.5%,
      hsl(264.18, 28.03%, 46.86%) 100%
    );
  opacity: 0.8;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.hidden {
  display: none;
}

/* Modules */
.search-box {
  border: 0 solid rgb(var(--grey));
  border-radius: 4px;
  overflow: hidden;
}

.search-box input,
.search-box button {
  border: 0;
}

.pill {
  display: inline-block;
  line-height: 1em;
  font-weight: 100;
  border-radius: 8px;
  white-space: nowrap;
}

.button {
  border-radius: 4rem;
  border: 0;
  text-transform: uppercase;
  background-color: rgb(var(--tertiary));
  color: rgb(var(--light));
}

.button:focus,
.button:hover {
  outline-style: none;
  transform: scale(1.05);
  background-color: rgb(var(--tertiary-light));
}

.button:active {
  transform: scale(0.95);
  background-color: rgb(var(--tertiary-dark));
}

.search-prompt input[type="search"] {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(var(--grey));
}

.image-box {
  /* overflow: hidden; */
  position: relative;
 /* border-radius: var(--s300); */
}

.image-box .caption {
  top: 0;
  position: absolute;
}

.search-list-element .image-box ~ .img-wrapper input[type=image]:focus {
  outline-offset: 100px;
  /*outline-style: none;*/
  box-shadow: 0 0 0 0.125em #fff, 0 0 0 0.25em rgb(var(--dark));
}

.card-content {
  --flow-space: 0.15em;

  line-height: 1.25em;
}

/* Exceptions */

#search-results-list li:nth-child(2) {
  margin-top: 0;
}

/* Ranges */

input[type=range] {
  width: 100%;
  margin: 5px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: #9319b6;
  border: 0;
  border-radius: 25px;
  width: 100%;
  height: 4px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -5px;
  width: 14px;
  height: 14px;
  background: #9319b6;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #f1d5f9;
}
input[type=range]::-moz-range-track {
  background: #9319b6;
  border: 0;
  border-radius: 25px;
  width: 100%;
  height: 4px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 14px;
  height: 14px;
  background: #9319b6;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 5px 0;
  color: transparent;
  width: 100%;
  height: 4px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #000000;
  border: 0;
  border-radius: 50px;
}
input[type=range]::-ms-fill-upper {
  background: #9319b6;
  border: 0;
  border-radius: 50px;
}
input[type=range]::-ms-thumb {
  width: 14px;
  height: 14px;
  background: #9319b6;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: #9319b6;
}
input[type=range]:focus::-ms-fill-upper {
  background: #f1d5f9;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}