@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap");

body {
  font-family: "Raleway", sans-serif;
  background-color: #f0f0f0;
  padding: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

fieldset,
input[type="text"],
textarea,
button {
  border: 0;
  padding: 4px;
  margin: 12px;
  border-radius: 4px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}
.container {
  margin: 0 auto;
  max-width: 960px;
}

.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.flex-column {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.box {
  background-color: #c3c3c3;
  border-radius: 4px;
  border: 0;
  padding: 8px;
  width: 200px;
  height: 200px;
  margin: 8px;
}

.box img {
  position: relative;
  width: 100%;
  margin: 0 0 40px;
}

.box .caption {
  position: relative;
  top: -120%;
  left: 0;
  width: 100%;
  margin: 0;
  background-color: #00000047;
  color: #ffffff;
}

.hidden {
  display: none;
}

.album-img {
  max-width: 124px;
  margin: 16px;
}

#recommendations-results-list > li > article > section {
  flex: 1;
}

#keyword-search {
  width: 85%;
  height: 100%;
}

#customize-recommendations {
  height: 100%;
}

#customize-recommendations div {
  margin: 8px;
}

#customization-form {
  align-self: flex-start;
}
